h1{
  text-align: center;
  color: Black;
  background-color: BlueLightCyan;
  font-family: Courier New;
}

  
h2{
  text-align: center;
  background-color:PowderBlue;font-family:Courier New,monospace
  font-size: 300%
  }

